/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*For HTML*/
body{
    font : 16px/28px arial, sans-serif;
    background-color: #E8E8E8;
    background-size:cover;
    color : #474747;
}

.container{
    width:980px;
    margin:auto;
    background-color: white;
}
.header{
        padding:10px;
        padding-bottom:10px;
        background-color:grey;
}

.header .judul{
    color: black;
    font-size: 25px;
    font-weight:bold;

}
.header ul li{
    display: inline-block;
    margin-top:10px;
    margin-right:10px;
    }
.header a{
    text-decoration: none;
    color: orange;
}
.header a:hover{
    background-color: lightskyblue;
    color:white;
}
.head{
margin-top:20px;
}

.head h2{
font-size : 35px;
font-weight:bold;
}
.head .penulis{
font-size:12px;

}
.head .penulis a{
    text-decoration: none;
    color: orange;
}

.head  .penulis a:hover{
background-color: lightskyblue;
    color:white;
}

.hero{

height : 400px;
background-image: url(basket.jpeg);
background-repeat: no-repeat;
border-top: 5px solid #919191;
border-bottom : 5px solid #919191;
background-size: cover;
margin-bottom: -10px;
background-position: center;
}
.main{
    width: 600px;
    padding:10px;
    margin-top:20px;
    box-sizing:border-box;
    float : left;


}
.biodata{
    margin-top:20px;
    width: 340px;
    margin-left:30px;
    float:right;
    border: 1px solid black;
    font-size : 13px;
    font-family: "Times New Roman", Times, serif;
    box-sizing:boder-box;
}
.biodata h3{
    font-size : 16px;
    font-weight: bold;
}

.biodata img {
    width :80px;
    padding:0 5px;
    float: left;

}
.biodata ul{
    float:left;

}

.copy{
    background-color:grey;
    font-size:15px;
    color:#eaeaea;
    font-weight:bold;
    margin-bottom: 20px;

}


/*Clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}